
<div id="accordian">

      <li class="active">

        <ul>
          <input type="text" class="url" name="url" placeholder="Image URL">

     <textarea name="content" class="content" rows="4" cols="40" placeholder="Image Caption"></textarea>

<input type="submit" name="cancel" class ="cancel-button" value="Cancel">
<input type="submit" class ="submit-button" value="ADD IMAGE">

      </li>
</div>
